
    <nav>
  <div class="site-title">
    <div class="logo"> <a href="/"><img src="https://user-images.githubusercontent.com/104558335/213319771-268d8abf-34e9-44e2-9c21-da22c0c6c639.png" alt=""></div>
    <div class="menulink"><ul>
        <li><a href="/">Home</a></li>
        <li><a href="/service">Services</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="pricing">Pricing</a></li>
        <li><a href="/review">Review</a></li>
        <li><a href="/contact">Contact</a></li>
      
        
    </ul></div>

  </div>
  </nav>