<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevWeb</title>
    <link rel="stylesheet" href="style.css">
    <style>


    </style>
</head>
<body>
    <nav>
  <div class="site-title">
    <div class="logo"> <a href="/"><img src="https://user-images.githubusercontent.com/104558335/213319771-268d8abf-34e9-44e2-9c21-da22c0c6c639.png" alt=""></div>
    <div class="menulink"><ul>
        <li><a href="/">Home</a></li>
        <li><a href="/service">Services</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="pricing">Pricing</a></li>
        <li><a href="/review">Review</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><button>Login</button></li>
        
    </ul></div>

  </div>
</nav>
<div class="body">
    <div class="left"><img src="https://user-images.githubusercontent.com/104558335/200171500-dd3fd695-84ed-48f7-a09e-e261ba3a82dd.png" alt=""></div>
    <div class="right">
<h2>Welcome to Home Line Development

</h2>

<h3>Grow Your Career With Us</h3>
<p>Our software engineering services and specialized industry expertise help you deploy next-gen technologies and applications with a focus on quality, scalability, cost-efficiency and rapid delivery</p>

<button>Apply Now</button>
    </div>
</div>

</body>
</html>